[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.100.1"
uvicorn = "==0.23.2"
pydantic-settings = "==2.0.2"
structlog = "==23.1.0"
asgi-correlation-id = "==4.2.0"

[dev-packages]
httpx = "==0.24.1"
pytest = "==7.4.0"
pytest-cov = "==4.1.0"
black = "==23.7.0"
isort = "==5.12.0"
flake8 = "==6.1.0"
pre-commit = "==3.3.3"

[requires]
python_version = "3.10"
