[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.109.2"
uvicorn = "==0.26.0"
pydantic-settings = "==2.1.0"
structlog = "==24.1.0"
asgi-correlation-id = "==4.3.0"
sentry-sdk = "==1.40.5"
secure = "==0.3.0"
alembic = "==1.13.1"
sqlalchemy = "==2.0.25"
psycopg2-binary = "==2.9.9"
typing-extensions = "==4.9.0"
circuitbreaker = "==2.0.0"
httpx = "==0.26.0"
fastapi-azure-auth = "==4.3.0"

[dev-packages]
pytest = "==7.4.4"
pytest-cov = "==4.1.0"
pytest-mock = "==3.12.0"
black = "==23.12.1"
isort = "==5.13.2"
flake8 = "==7.0.0"
pre-commit = "==3.6.0"
respx = "==0.20.2"
pytest-asyncio = "==0.23.3"

[requires]
python_version = "3.12"

[scripts]
generate_db = "python ./alembic/generate_db.py"
