default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: <%= ENV['BASE_DATABASE_HOST'] || 'localhost' %>
  username: <%= ENV['BASE_DATABASE_USERNAME'] %>
  password: <%= ENV['BASE_DATABASE_PASSWORD'] %>
  timeout: 5000

development:
  primary:
    <<: *default
    database: laa_crime_application_store

test:
  primary:
    <<: *default
    database: laa_crime_application_store_test<%= ENV['TEST_ENV_NUMBER'] %>

production:
  primary:
    <<: *default
    host: <%= ENV['POSTGRES_HOSTNAME'] %>
    username: <%= ENV['POSTGRES_USERNAME'] %>
    password: <%= ENV['POSTGRES_PASSWORD'] %>
    database: <%= ENV['POSTGRES_NAME'] %>
    sslmode: <%= ENV.fetch('DATABASE_SSLMODE', 'verify-full') %>
    sslrootcert: <%= ENV.fetch('DATABASE_SSLMODE', 'verify-full') == 'verify-full' ? ENV['RDS_COMBINED_CA_BUNDLE'] : nil %>
