# Default values for helm_deploy.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
environment: "uat"
replicaCount: 1

image:
  repository: nginx
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

imagePullSecrets: []
nameOverride: laa-crime-application-store-app
fullnameOverride: laa-crime-application-store-app

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext:
  runAsNonRoot: true
  allowPrivilegeEscalation: false
  seccompProfile:
    type: RuntimeDefault
  capabilities:
    drop: [ "ALL" ]

service:
  type: ClusterIP
  port: 80
  internalPort: 3000

ingress:
  enabled: true
  namespace: laa-crime-application-store-uat
  className: modsec
  annotations:
    nginx.ingress.kubernetes.io/enable-modsecurity: "true"
    nginx.ingress.kubernetes.io/modsecurity-snippet: |
      SecRuleEngine On
      SecAction "id:900200,phase:1,nolog,pass,t:none,setvar:tx.allowed_methods=GET HEAD POST OPTIONS PUT PATCH DELETE"
    external-dns.alpha.kubernetes.io/set-identifier: laa-crime-application-store-app-laa-crime-application-store-uat-green
    external-dns.alpha.kubernetes.io/aws-weight: "100"
  hosts:
    - host: laa-crime-application-store-uat.apps.live.cloud-platform.service.justice.gov.uk
      paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts:
      - laa-crime-application-store-uat.apps.live.cloud-platform.service.justice.gov.uk

resources:
  limits:
    cpu: 500m
    memory: 128Mi
  requests:
    cpu: 10m
    memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

service_account:
  name: laa-crime-application-store-uat-irsa

envVars:
  swaggerEndpoint: /docs
  authenticationRequired: True
  subscriberFailedAttemptDeletionThreshold: ''

# Instead of a temporary postgres pod we use RDS
postgresql:
  enabled: false

# Instead of a temporary redis pod we use Elasticache
redis:
  enabled: false
