name: Build and Deploy Main

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    name: Build and push Docker image to ECR
    runs-on: ubuntu-latest
    # Required for OIDC
    permissions:
      id-token: write
      contents: read
    outputs:
      image-tag: ${{ steps.build.outputs.image-tag }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Configure AWS credentials for ECR access
        uses: ministryofjustice/laa-reusable-github-actions/.github/actions/ecr-auth@e5500aa20b13a1406fe8a62b8788181a2ca18926
        with:
          ecr_role: ${{ secrets.APP_STORE_DEV_ECR_ROLE_TO_ASSUME }}
          ecr_region: ${{ vars.APP_STORE_DEV_ECR_REGION }}
          role-session-name: ${{ vars.ECR_ROLE_SESSION_NAME }}

      - name: Build Docker image and push to ECR
        id: build
        run: |
          IMAGE_TAG="main-${{ github.sha }}"
          echo "image-tag=${IMAGE_TAG}" >> $GITHUB_OUTPUT

          ECR_IMAGE=${{ secrets.ECR_REGISTRY_URL }}/${{ vars.APP_STORE_DEV_ECR_REPOSITORY }}

          docker build \
            --build-arg APP_BUILD_DATE=$(date +%Y-%m-%dT%H:%M:%S%z) \
            --build-arg APP_BUILD_TAG=${{ github.sha }} \
            --build-arg APP_GIT_COMMIT=${{ github.sha }} \
            --build-arg APP_BRANCH_NAME=${{ github.ref_name }} \
            --tag ${ECR_IMAGE}:${IMAGE_TAG} \
            --tag ${ECR_IMAGE}:latest \
            --file Dockerfile .

          docker push ${ECR_IMAGE} --all-tags

  deploy-dev-uat:
    name: Deploy branch to ${{ matrix.env }}
    runs-on: ubuntu-latest
    needs: [build]
    permissions:
      id-token: write
      contents: read
    strategy:
      fail-fast: true
      matrix:
        include:
          - env: "development"
            kube_cert_secret: AUTOGENERATED_NSCC_STORE_DEV_K8S_CLUSTER_CERT
            kube_token_secret: AUTOGENERATED_NSCC_STORE_DEV_K8S_TOKEN
            kube_cluster_secret: AUTOGENERATED_NSCC_STORE_DEV_K8S_CLUSTER_NAME
            kube_namespace_secret: AUTOGENERATED_NSCC_STORE_DEV_K8S_NAMESPACE
          - env: "uat"
            kube_cert_secret: AUTOGENERATED_NSCC_STORE_UAT_K8S_CLUSTER_CERT
            kube_token_secret: AUTOGENERATED_NSCC_STORE_UAT_K8S_TOKEN
            kube_cluster_secret: AUTOGENERATED_NSCC_STORE_UAT_K8S_CLUSTER_NAME
            kube_namespace_secret: AUTOGENERATED_NSCC_STORE_UAT_K8S_NAMESPACE

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Authenticate to the cluster
        uses: ministryofjustice/laa-reusable-github-actions/.github/actions/authenticate_to_cluster@2aa2676c3cd9876ec7037ee8b3d729d0306cb7c6
        with:
          kube-cert: ${{ secrets[matrix.kube_cert_secret] }}
          kube-token: ${{ secrets[matrix.kube_token_secret] }}
          kube-cluster: ${{ secrets[matrix.kube_cluster_secret] }}
          kube-namespace: ${{ secrets[matrix.kube_namespace_secret] }}

      - name: Configure AWS credentials for ECR access
        uses: ministryofjustice/laa-reusable-github-actions/.github/actions/ecr-auth@e5500aa20b13a1406fe8a62b8788181a2ca18926
        with:
          ecr_role: ${{ secrets.APP_STORE_DEV_ECR_ROLE_TO_ASSUME }}
          ecr_region: ${{ vars.APP_STORE_DEV_ECR_REGION }}
          role-session-name: ${{ vars.ECR_ROLE_SESSION_NAME }}

      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          version: '3.7.2'

      - name: Deploy to ${{ matrix.env }} environment
        env:
          CIRCLE_BRANCH: main
          CIRCLE_SHA1: ${{ github.sha }}
          ECR_REPOSITORY: ${{ secrets.ECR_REGISTRY_URL }}/${{ vars.APP_STORE_DEV_ECR_REPOSITORY }}
          K8S_NAMESPACE: ${{ secrets[matrix.kube_namespace_secret] }}
          IMAGE_TAG: ${{ needs.build.outputs.image-tag }}
        run: ./bin/deploy ${{ matrix.env }}

  deploy-prod:
    name: Deploy branch to prod
    runs-on: ubuntu-latest
    needs: [build, deploy-dev-uat]
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Authenticate to the cluster
        uses: ministryofjustice/laa-reusable-github-actions/.github/actions/authenticate_to_cluster@2aa2676c3cd9876ec7037ee8b3d729d0306cb7c6
        with:
          kube-cert: ${{ secrets.AUTOGENERATED_NSCC_STORE_PROD_K8S_CLUSTER_CERT }}
          kube-token: ${{ secrets.AUTOGENERATED_NSCC_STORE_PROD_K8S_TOKEN }}
          kube-cluster: ${{ secrets.AUTOGENERATED_NSCC_STORE_PROD_K8S_CLUSTER_NAME }}
          kube-namespace: ${{ secrets.AUTOGENERATED_NSCC_STORE_PROD_K8S_NAMESPACE }}

      - name: Configure AWS credentials for ECR access
        uses: ministryofjustice/laa-reusable-github-actions/.github/actions/ecr-auth@e5500aa20b13a1406fe8a62b8788181a2ca18926
        with:
          ecr_role: ${{ secrets.APP_STORE_DEV_ECR_ROLE_TO_ASSUME }}
          ecr_region: ${{ vars.APP_STORE_DEV_ECR_REGION }}
          role-session-name: ${{ vars.ECR_ROLE_SESSION_NAME }}

      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          version: '3.7.2'

      - name: Deploy branch to production environment
        env:
          CIRCLE_BRANCH: main
          CIRCLE_SHA1: ${{ github.sha }}
          ECR_REPOSITORY: ${{ secrets.ECR_REGISTRY_URL }}/${{ vars.APP_STORE_DEV_ECR_REPOSITORY }}
          K8S_NAMESPACE: ${{ secrets.AUTOGENERATED_NSCC_STORE_PROD_K8S_NAMESPACE }}
          IMAGE_TAG: ${{ needs.build.outputs.image-tag }}
        run: ./bin/deploy production

  configure-dashboards:
    name: Apply dashboard config
    runs-on: ubuntu-latest
    steps:
      - name: Apply config
        run: |
          kubectl apply -f ./helm_deploy/dashboards/
